<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <form action="/delete" method="POST">
    <h1>Welcome</h1>
    <p><%= user.username %></p>
    <button type="submit" style="background: red;">Delete Account</button>
  </form>
</body>
</html>
